@import '/node_modules/bootstrap/scss/bootstrap';
@import '/node_modules/swiper/swiper.scss';
@import 'c.class';
@import 'c.variable';
//

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    font-size: 14px;
}
