<header
    id="id-home-header"
    [class]="layout.headerClass"
    [style]="{ height: layout.headerHeight, backgroundColor: layout.headerBgColor }">
    <div class="container d-flex justify-content-lg-between justify-content-center">
        <div (click)="toZeroAndZero()" class="_logo">
            <a>
                <p class="m-0 pointer">HexZhou.<span class="text-warning">idv</span></p>
            </a>
        </div>
        <div class="fajc mx-3 d-lg-block d-none">
            <ul class="m-0 p-0 d-flex _ul">
                <!-- link item -->
                <ng-container *ngFor="let item of linkData">
                    <li
                        (click)="clickScroll(item.ID)"
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        class="nav-li p-2">
                        <div
                            class="_bg-h position-absolute"
                            [style]="{ backgroundColor: layout.headerBgColor }"></div>
                        <div
                            [style]="{ backgroundColor: layout.headerBgColor }"
                            class="_bg-w position-absolute"></div>
                        <a class="_nav-a">{{ item.title }}</a>
                    </li>
                </ng-container>
                <!-- dropdown menu -->
                <li
                    (click)="clickScroll('id-home-footer')"
                    #dropdown="bs-dropdown"
                    dropdown
                    (mouseenter)="dropdown.show()"
                    (mouseleave)="dropdown.hide()"
                    #dropdownMenu
                    data-aos="fade-left"
                    data-aos-duration="1000"
                    class="nav-li p-2">
                    <div
                        class="_bg-h position-absolute"
                        [style]="{ backgroundColor: layout.headerBgColor }"></div>
                    <div
                        [style]="{ backgroundColor: layout.headerBgColor }"
                        class="_bg-w position-absolute"></div>
                    <a dropdownToggle class="_nav-a dropdown-toggle">個人作品</a>
                    <!-- dropdown list -->
                    <ul
                        [style]="{ backgroundColor: layout.headerBgColor }"
                        *dropdownMenu
                        class="dropdown-menu"
                        role="menu"
                        aria-labelledby="button-animated">
                        <li role="menuitem">
                            <a class="dropdown-item">谷歌翻譯聊天室</a>
                            <a class="dropdown-item">不和諧獨裁機器人</a>
                            <a class="dropdown-item">蒸氣個人頁</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div #hamburger class="fajc hamburger-box"><i class="fa-solid fa-bars fs-3"></i></div>
    </div>
    <div
        [style]="{ left: isOpenSideMenuRWD ? '0vw' : '-100vw' }"
        #rwd_menu
        class="rwd_menu d-flex d-lg-none">
        <div (click)="toZeroAndZero()" class="_logo">
            <a>
                <p class="m-0 pointer">HexZhou.<span class="text-warning">idv</span></p>
            </a>
        </div>
        <ul class="_rwd_ul">
            <ng-container *ngFor="let item of linkData">
                <li (click)="clickScroll(item.ID)">
                    <span>{{ item.title }}</span>
                </li>
            </ng-container>
            <li (click)="clickScroll('id-home-footer')">
                <span>個人作品</span>
            </li>
            <ul>
                <li>谷歌翻譯聊天室</li>
                <li>不和諧獨裁機器人</li>
                <li>蒸氣個人頁</li>
            </ul>
        </ul>
    </div>
</header>
