@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');
@import 'assets/scss/c.variable';
._logo {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    transition: position, box-shadow 0.1s;
}
$border-px: 1px;
.nav-li {
    box-sizing: border-box;
    width: 6em;
    text-align: center;
    border: $border-px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1rem;
    a {
        display: block;
        width: auto;
        height: auto;
        color: #fff;
    }
    ._bg-h,
    ._bg-w {
        background: none;
        transition: all 0.4s;
        left: 0;
        z-index: -1;
    }
    ._bg-h {
        top: 50%;
        left: -$border-px;
        transform: translateY(-50%);
        width: calc(100% + 2 * $border-px);
        height: 60%;
    }
    ._bg-w {
        left: 50%;
        top: -$border-px;
        transform: translateX(-50%);
        height: calc(100% + 2 * $border-px);
        width: 60%;
    }
    &:hover {
        border: 1px solid $yellow !important;
        > a {
            color: $yellow !important;
        }
        ._bg-h {
            height: 0;
        }
        ._bg-w {
            width: 0;
        }
    }
}
.dropdown-item {
    &:hover,
    &:focus {
        color: $yellow !important;
        background: none;
    }
}
