@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');
@import 'assets/scss/c.variable';
._logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    max-width: 100vw;
    transition: position, box-shadow 0.1s;
}
$border-px: 1px;
.nav-li {
    box-sizing: border-box;
    width: 6em;
    text-align: center;
    border: $border-px solid #fff;
    cursor: pointer;
    margin-left: 1rem;
    a {
        display: block;
        width: auto;
        height: auto;
        color: #fff;
    }
    ._bg-h,
    ._bg-w {
        background: none;
        transition: all 0.4s;
        left: 0;
        z-index: -1;
    }
    ._bg-h {
        top: 50%;
        left: -$border-px;
        transform: translateY(-50%);
        width: calc(100% + 2 * $border-px);
        height: calc(100% + 2 * $border-px);
    }
    ._bg-w {
        left: 50%;
        top: -$border-px;
        transform: translateX(-50%);
        height: calc(100% + 2 * $border-px);
        width: calc(100% + 2 * $border-px);
    }
    &:hover {
        border: 1px solid $yellow !important;
        > a {
            color: $yellow !important;
        }
        ._bg-h {
            height: 0;
        }
        ._bg-w {
            width: 0;
        }
    }
}
.dropdown-item {
    font-size: 14px;
    &:hover,
    &:focus {
        color: $yellow !important;
        background: none;
    }
}
.hamburger-box {
    @include bk_max($lg) {
        display: flex;
    }
    display: none;
    margin-left: 1rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 100;
    transition: color 0.4s;
    &:hover,
    &:focus {
        color: #aaa;
    }
}
.rwd_menu {
    transition: all 0.5s;
    box-shadow: 0 0 8px 2px rgba($color: #000000, $alpha: 0.5);
    padding: 1rem;
    z-index: 110;
    position: fixed;
    top: 0;
    width: 66vw;
    height: 100vh;
    background-color: rgba($color: $steam-bg, $alpha: 1);
    flex-direction: column;
    ._rwd_ul {
        padding: 0;
        width: 100%;
        margin-top: 16px;
        li {
            cursor: pointer;
            transition: all 0.3s;
            display: flex;
            align-items: center;
            height: 48px;
            position: relative;
            &:hover,
            &:focus {
                color: $yellow;
                &:after {
                    transition: all 0.5s;
                    content: '';
                    height: 2px;
                    width: 100%;
                    bottom: 0;
                    position: absolute;
                    background-color: $yellow;
                }
            }
        }
    }
}
