<div *ngIf="this.isLoad" class="container">
    <div class="keen-slider" #sliderRef>
        <ng-container *ngFor="let screenshot of focusGame!.screenshots">
            <div class="keen-slider__slide">
                <h1>{{ screenshot.path_full }}</h1>
                <!-- <img class="fill-img" src="{{ screenshot.path_full }}" alt="" /> -->
            </div>
        </ng-container>
    </div>
    <div class="keen-slider thumbnail-box" #thumbnailRef>
        <ng-container *ngFor="let screenshot of focusGame!.screenshots">
            <div class="keen-slider__slide">
                <img class="thumbnail-img" src="{{ screenshot.path_thumbnail }}" alt="" />
            </div>
        </ng-container>
    </div>
</div>
<button (click)="add()">aaasdan</button>
