@import '/src/assets/scss/c.variable';
.fill-img {
    width: 100%;
}
.thumbnail-box {
    margin-top: 8px;
}
.thumbnail-img {
    cursor: pointer;

    // width: 115px;
    width: 100%;
    min-width: 115px;
    height: 65px;
}
.badge-box {
    display: block;
    @include bk_max($sm) {
        display: flex;
    }
}
.drag-scroll-content {
    width: auto;
}
.lil {
    font-size: 14px;
}
.keen-slider {
}
