<div class="_top-nav fajc">
    <h1>
        <span class="neonRedText">{{ MystWord.join('') }}</span>
    </h1>
</div>
<div
    class="container"
    data-aos-duration="3000"
    data-aos="fade-up"
    [style]="{ paddingTop: layout.section1MarginTop }">
    <ng-container *ngIf="isAPIFinished; else loading">
        <div class="total-box">
            <div #chartDiv class="chart">
                <!-- <canvas
                    #pie
                    baseChart
                    [data]="pieChartData"
                    [type]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins">
                </canvas> -->
                <!-- <canvas
                    baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [type]="barChartType">
                </canvas> -->
            </div>

            <div class="gameList-box">
                <!-- <perfect-scrollbar> -->
                <drag-scroll class="home-chart-scroll">
                    <ng-container *ngFor="let game of myGameList">
                        <div class="item_box">
                            <div class="img-box">
                                <img [src]="game.header_image" alt="" />
                            </div>
                            <div class="text-box text-truncate">
                                <span class="">{{ game.gamename }}</span>
                            </div>
                        </div>
                    </ng-container>
                </drag-scroll>
                <!-- </perfect-scrollbar> -->
            </div>
        </div>
    </ng-container>
</div>
<!-- <div class="_bottom-nav"></div> -->
<ng-template #loading>
    <ngx-spinner
        [bdColor]="'none'"
        size="medium"
        color="#fff"
        type="triangle-skew-spin"
        [fullScreen]="false"
        ><p style="color: white">正在訪問Steam...</p></ngx-spinner
    >
</ng-template>
