<app-home-header></app-home-header>
<div [style]="{ marginTop: '88px' }">
    <section
        id="id-home-intro"
        class="mh-100vh bg-dark"
        [style]="{ paddingTop: layout.headerHeight }">
        <article id="article-intro">
            <h1 data-wow-duration="1s" class="p-5 wow fadeInLeft">Controls and callbacks</h1>
        </article>
        <app-home-intro></app-home-intro>
    </section>
    <section
        class="mh-100vh bg-steam-deep-blue"
        id="id-home-about"
        [style]="{ paddingTop: layout.headerHeight }">
        <app-home-about></app-home-about>
    </section>
    <section
        id="id-home-skill"
        class="mh-100vh bg-warning"
        [style]="{ paddingTop: layout.headerHeight }">
        <app-home-skill></app-home-skill>
    </section>
    <section id="id-home-footer" class="mh-50vh">
        <app-home-footer></app-home-footer>
    </section>
</div>
