<div [style]="{ backgroundImage: 'url(' + focusGame.background + ')' }" #chartDiv class="chart p-4">
    <!-- <div class="keen-slider" #sliderRef>
        <ng-container *ngFor="let screenshot of focusGame.screenshots">
            <div class="keen-slider__slide full-img">
                <img src="{{ screenshot.path_full }}" alt="" />
            </div>
        </ng-container>
    </div>
    <div class="keen-slider thumbnail" #thumbnailRef>
        <ng-container *ngFor="let screenshot of focusGame.screenshots">
            <div class="keen-slider__slide">
                <img src="{{ screenshot.path_thumbnail }}" alt="" />
            </div>
        </ng-container>
    </div>

    <img class="header_img" [src]="focusGame.header_image" alt="" />
    <h4>{{ focusGame.name }}</h4>
    <h4>{{ focusGame.playTime_hour }}小時</h4>
    <h4>{{ focusGame.metacritic!.score }}分</h4> -->
</div>
