<div [style]="{ backgroundImage: 'url(' + focusGame.background + ')' }" #chartDiv class="chart p-4">
    <div class="__right">
        <div class="keen-slider" #sliderRef>
            <ng-container *ngFor="let screenshot of focusGame.screenshots">
                <div class="keen-slider__slide">
                    <img class="fill-img" src="{{ screenshot.path_full }}" alt="" />
                </div>
            </ng-container>
        </div>
        <div class="keen-slider thumbnail-b" #thumbnailRef>
            <ng-container *ngFor="let screenshot of focusGame.screenshots">
                <div class="keen-slider__slide">
                    <img class="thumbnail-img" src="{{ screenshot.path_thumbnail }}" alt="" />
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- <div class="keen-slider" #sliderRef>
  <div class="keen-slider__slide number-slide1">1</div>
  <div class="keen-slider__slide number-slide2">2</div>
  <div class="keen-slider__slide number-slide3">3</div>
  <div class="keen-slider__slide number-slide4">4</div>
  <div class="keen-slider__slide number-slide5">5</div>
  <div class="keen-slider__slide number-slide6">6</div>
</div>
<div class="keen-slider thumbnail" #thumbnailRef>
  <div class="keen-slider__slide number-slide1">1</div>
  <div class="keen-slider__slide number-slide2">2</div>
  <div class="keen-slider__slide number-slide3">3</div>
  <div class="keen-slider__slide number-slide4">4</div>
  <div class="keen-slider__slide number-slide5">5</div>
  <div class="keen-slider__slide number-slide6">6</div>
</div> -->
<!-- <div class="__left">
    <img class="header_img" [src]="focusGame.header_image" alt="" />
    <h4>{{ focusGame.name }}</h4>
  <h4>{{ focusGame.playTime_hour }}小時</h4>
  <h4>{{ focusGame.metacritic!.score }}分</h4>
</div> -->
