<div class="row d-flex align-items-center w-100">
  <h1 class="p-5 col-auto">API 資料格式 轉 介面 (不支援陣列)</h1>
</div>
<div class="row">
  <div class="p-5 col-6">
    <textarea
      [(ngModel)]="textValue"
      class="form-control"
      name=""
      id=""
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <div class="p-5 col-6">
    <textarea
      [value]="ParseValue"
      readonly
      class="form-control"
      name=""
      id=""
      cols="30"
      rows="10"
    ></textarea>
  </div>
</div>
