@import '/src/assets/scss/c.variable';

._height {
    height: 50vh;
}
.footer-box {
    box-sizing: border-box;
    position: relative;

    .logo-list-box {
        width: 100%;
        position: relative;
        z-index: 1;

        .img-box {
            display: flex;
            justify-content: center;
            // width: 200px;
            img {
                height: 60px;
            }
        }
    }
    .orange-box {
        background-color: $steam-bg;
        width: 0;
        height: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
    }
}
.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 800;
    .btn {
        width: 200px;
    }
    .text-orange {
        color: $orange;
    }
    h5 {
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    h2 {
        line-height: 2;
    }
    br {
        @include bk_max($sm) {
            display: none;
        }
    }
}
