<div class="_height">
    <div class="footer-box img-box wow fadeIn" data-wow-duration="1s">
        <div class="logo-list-box d-flex py-3">
            <swiper #Swiper [config]="configFooterSwiper">
                <ng-container *ngFor="let imgName of imgList">
                    <ng-template swiperSlide>
                        <div class="img-box">
                            <img
                                [src]="'assets/image/footer_logo/' + imgName + '.png'"
                                alt="" /></div
                    ></ng-template>
                </ng-container>
            </swiper>
            <div
                data-wow-duration="0.3s"
                appHomeFooterGreen
                [mousePercent]="mousePercent"
                class="orange-box wow fadeIn"></div>
        </div>

        <div>
            <div class="text-box pt-5 text-center pingfang">
                <h5 data-wow-delay=".5s" class="wow fadeInUp">同樂好夥伴招募中</h5>
                <h2 data-wow-delay=".6s" class="wow fadeInUp">
                    除了在專業領域中精益求精 <br />
                    <span class="text-orange">更要不斷追求樂趣</span>
                </h2>
                <button data-wow-delay=".7s" class="btn btn-light btn-lg wow fadeInUp">
                    進入作品集
                </button>
            </div>
        </div>
    </div>
</div>
