<div class="container my-5">
    <swiper [config]="config">
        <ng-container *ngFor="let item of displayItems">
            <ng-template swiperSlide class="d-flex justify-content-center">
                <div [style]="{}" appHeaderIntroWowItem class="item-box wow bounceIn">
                    <img [src]="'assets/image/logo/' + item.imgPath" alt="" />
                    <h5>{{ item.title }}</h5>
                </div>
            </ng-template>
        </ng-container>
    </swiper>
    <div class="fajc my-5"></div>
</div>
