@import '/src/assets/scss/c.variable';

.item-box {
    background-color: rgba($color: #000000, $alpha: 0.6);
    aspect-ratio: 1/1;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba($color: #fff, $alpha: 0.6);
    box-shadow: 0 0 4px 1px rgba($color: #ffffff, $alpha: 0.3);
    img {
        width: 90px;
        margin-bottom: 2rem;
    }

    h5 {
        position: absolute;
        bottom: 0;
        margin: 2rem;
    }
}
