<div class="container my-5">
    <swiper #Swiper [config]="config">
        <ng-container *ngFor="let item of displayItems">
            <ng-template swiperSlide class="d-flex justify-content-center">
                <div [style]="{}" appHeaderIntroWowItem class="item-box wow bounceIn">
                    <div class="img-box fajc">
                        <img [src]="'assets/image/logo/' + item.imgPath" alt="" />
                    </div>
                    <div class="fajc flex-column me-3">
                        <h5>{{ item.title }}</h5>
                        <p class="text-center" [innerHTML]="item.desc"></p>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </swiper>
    <div class="fajc my-5"></div>
</div>
