@import '/src/assets/scss/c.variable';

.item-box {
    max-width: 500px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $steam-bg, $alpha: 0.95);
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 0.5px solid rgba($color: #fff, $alpha: 0.6);
    box-shadow: 0 0 4px 1px rgba($color: #ffffff, $alpha: 0.3);
    img {
        width: 90px;
    }
}
._buttom-box {
    width: 100%;
    height: 100%;
    ._note-box {
        box-shadow: 0 0 4px 1px rgba($color: #000, $alpha: 0.3);
        color: #000;
        background-color: yellow;
        width: calc(3rem * 20);
        max-width: 100%;
        h1 {
            margin: 0 2rem;
            padding: 1rem 0;
            font-weight: 800;
            border-bottom: 0.5px solid #000;
        }
        p {
            margin: 0 2rem;
            padding: 1rem 0;
        }
    }
}
._hover_change_item_color {
    transition: all 0.5s;
    color: #000;
    background-color: rgba($color: #fff, $alpha: 0.95);
    border: 0.5px solid rgba($color: #000, $alpha: 1);
}
._Link-icon-box {
    img {
        height: 2.5rem;
        aspect-ratio: 1/1;
    }
}
