<div class="container my-5">
    <!--  -->
    <div class="item-box wow bounceIn">
        <div class="fax-box">
            <i class="fa-solid fa-mobile-retro"></i>
        </div>
        <h2>RWD網站建置</h2>
    </div>
    <!--  -->
    <div class="item-box wow bounceIn">
        <div class="fax-box">
            <i class="fa-solid fa-envelopes-bulk"></i>
        </div>
        <h2>EDM設計</h2>
    </div>
    <!--  -->
    <div class="item-box wow bounceIn">
        <div class="fax-box">
            <i class="fa-solid fa-display"></i>
        </div>
        <h2>一頁式網頁設計</h2>
    </div>
    <!--  -->
</div>
